# Dependências
node_modules/

# Build output (não vai pro git, servidor vai buildar)
dist/
dist.zip

# Vite
*.local

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Env
.env
.env.local
.env.production
